:root {
    --primary_green : #182c25;
    --high-emphasis : rgba(255, 255, 255, 0.87);
    --medium-emphasis : rgba(255, 255, 255, 0.6);
    --disabled-text : rgba(255, 255, 255, 0.38);
    --black : #303030;
    --lightblack : #404040;
    --deepblack : #202020;
    --green: #73ff46b3;
    --green: rgb(115, 255, 70);
}

@font-face {
    font-family: FreeSans;
    src: url(fonts/FreeSans.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Teachers;
    src: url(fonts/Teachers-VariableFont_wght.ttf);
}

@font-face {
    font-family: Ponderosa;
    src: url(fonts/ponde___.ttf);
}

@font-face {
    font-family: Basis33;
    src: url(fonts/basis33.ttf);
}

* {
    padding: 0;
    margin: 0;
    color: var(--high-emphasis);
    overflow-wrap: break-word;
}

img {
    max-width: 30%;
    opacity: 50%;
}

nav {
    background: linear-gradient(0deg, rgba(1,0,18,0) 10%, var(--black) 50%);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
}

button {
    border: none;
}

nav>button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    min-width: 25%;
    max-height: 30px;
    border-radius: 30px;
    border: none;
    background-color: var(--black);
    font-family: Teachers;
    letter-spacing: 1px;
    /* background: radial-gradient(circle, var(--deepblack) 40%, rgba(255, 0, 0, 0) 100%); */
    background: linear-gradient(145deg, #2b2b2b, #333333);
    box-shadow: #292929 7px 7px 14px,#373737 -7px -7px 14px, var(--lightblack) 0px 0px 40px;
}

header {
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(128, 255, 0, 0.103);
    display: flex;
    justify-content: space-between;
    color: var(--high-emphasis);
    overflow-wrap: break-word;
}

header>div {
    flex-direction: column;
}

header>div:first-child {
    margin-left: 10px;
}

#name>h1 {
    font-size: 74px;
    margin-block-end: -0.28em;
    font-family: Basis33;
    font-weight: normal;
    /* letter-spacing: 16px; */
}

#name>h2 {
    margin-left: 4px;
    font-size: 30px;
    color: var(--medium-emphasis);
    font-family: Basis33;
    font-weight: normal;
}

header>div:last-child {
    min-width: 170px;
    min-height: 100%;
    margin-right: 10px;
    margin-top: 0.20em;
    display: flex;
    align-items: flex-end;
    font-size: 26px;
    font-family: Basis33;
    /* background-color: var(--deepblack); */
    
}

/* header>div:last-child>div:nth-child(2) {
    font-size: 36px;
} */

/* header>div:last-child>div:last-child {
    visibility:hidden;
    font-size: 10px;
    color: var(--disabled-text);
} */

body {
    background-color: var(--black);
    min-height: 100vh;
    font-family: Teachers;
}

main {
    margin-top: 20px;
    margin-left: 14px;
}

#contact {
    font-size: 12px;
    text-shadow: 0px 0px 3px #292929, ;
    min-height: 67px;
    min-width: 67px;
    font-family: Teachers;
    border-radius: 50px;
    background: linear-gradient(145deg, #2b2b2b, #333333);
    box-shadow:  7px 7px 14px #292929,
                 -7px -7px 14px #373737;
}

button {
    border: none;
}

#intro {
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url(svg/server-svgrepo-com.svg);
}
