:root {
    --primary_green : #182c25;
    --high-emphasis : rgba(255, 255, 255, 0.87);
    --medium-emphasis : rgba(255, 255, 255, 0.6);
    --disabled-text : rgba(255, 255, 255, 0.38);
    --black : #121212;
    --green: #73ff46b3;
    --green: rgb(115, 255, 70);
}

@font-face {
    font-family: FreeSans;
    src: url(fonts/FreeSans.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Teachers;
    src: url(fonts/Teachers-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    color: var(--high-emphasis);
    overflow-wrap: break-word;
}

img {
    max-width: 30%;
    opacity: 50%;
}

nav {
    background-color: var(--primary_green);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    min-height: 30px;
}

button {
    border: none;
}

nav>button {
    margin: 5px;
    padding: 10px;
    min-width: 25%;
    border-radius: 30px;
    border: none;
    background-color: var(--black);
    font-family: Teachers;
    letter-spacing: 1px;
}

header {
    display: flex;
    justify-content: space-between;
    color: var(--high-emphasis);
    overflow-wrap: break-word;
}

header>div {
    flex-direction: column;
}

header>div:first-child {
    margin-left: 10px;
}

#name>h1 {
    font-size: 66px;
    margin-block-end: -0.28em;
    font-family: Teachers;
    font-weight: normal;
    /* letter-spacing: 16px; */
}

#name>h2 {
    margin-left: 4px;
    font-size: 36px;
    color: var(--medium-emphasis);
    font-family: Teachers;
    font-weight: normal;
}

header>div:last-child {
    min-width: 170px;
    min-height: 100%;
    margin-right: 10px;
    margin-top: 0.40em;
    display: flex;
    align-items: flex-end;
    font-family: monospace;
    font-size: 25px;
}

/* header>div:last-child>div:nth-child(2) {
    font-size: 36px;
} */

/* header>div:last-child>div:last-child {
    visibility:hidden;
    font-size: 10px;
    color: var(--disabled-text);
} */

body {
    background-color: var(--black);
    min-height: 100vh;
    font-family: Teachers;
}

main {
    margin-top: 20px;
    margin-left: 14px;
}

#contact {
    font-family: Teachers;
    background-color: var(--black);
}

